.sidebar-menu > li > a > i {
    margin-right: 10px !important;
}
.sidebar-menu > li > a {
    padding: 7px 7px 7px 7px !important;
}
.sidebar-menu > li.treeview:after {
    right: 5px !important;
}

.sidebar-menu .treeview-menu > li > a {
    padding: 10px 10px 10px 40px;
}.treeview-menu, .treeview-submenu {
  display: none;
  padding-left: 15px;
  transition: max-height 0.3s ease;
}

.treeview-menu.show,
.treeview-submenu.show {
  display: block;
}

.arrow {
  float: right;
  font-size: 14px;
  transition: transform 0.3s;
}

.arrow.ri-arrow-down-s-line {
  transform: rotate(0deg);
}

.arrow.ri-arrow-right-s-line {
  transform: rotate(90deg);
}
