<div class="wrap">
  <div class="app-hero-header d-flex align-items-center">

    <!-- Breadcrumb starts -->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <i class="ri-home-8-line lh-1 pe-3 me-3 border-end"></i>
        <a routerLink="/home">Home</a>
      </li>
      <li class="breadcrumb-item text-primary">
        <a routerLink="/priceList-list">Price List</a>
      </li>
      <li class="breadcrumb-item text-primary" aria-current="page">
        <a>Price List Form</a>
      </li>
    </ol>
    <!-- Breadcrumb ends -->
  </div>
  <div class="app-body">
    <div class="row gx-3">
      <div class="col-sm-12 col-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Add Price List Draft</h5>
          </div>
          <div class="card-body">
            <!-- Row Start -->
            <form [formGroup]="plForm">
              <div class="row gx-3 mt-1 align-items-center">
                <!-- <div class="col-xxl-2 col-lg-6 col-sm-12">
                  <div class="mb-3">
                    <label class="form-label" for="a1">Payer Category</label>
                    <select class="form-select" id="a1" formControlName="payerCategoryId">
                      <option value="0">Select Payer Category</option>
                      <option [value]="payerCat.dropdownValueId" *ngFor="let payerCat of payerCategoryData">
                        {{payerCat.value}}
                      </option>
                    </select>
                  </div>
                </div> -->
                <div class="col-xxl-2 col-lg-3 col-sm-6">
                  <div class="mb-3">
                    <label class="form-label" for="a2">{{'Start Date' | translate}}<span
                        class="text-danger">*</span></label>
                    <div class="input-group">
                      <input type="date" class="form-control" formControlName="startDate" id="a2"
                        [ngClass]="{'is-invalid': submitted && plForm.controls.startDate.errors}">
                      <div *ngIf="submitted && plForm.controls.startDate.errors" class="invalid-feedback">
                        <div *ngIf="plForm.controls.startDate.errors?.['required']">{{'Start Date is required.' |
                          translate}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-2 col-lg-3 col-sm-6">
                  <div class="mb-3">
                    <label class="form-label" for="a3">{{'End Date' | translate}}<span
                        class="text-danger">*</span></label>
                    <div class="input-group">
                      <input type="date" class="form-control" formControlName="endDate" id="a3"
                        [ngClass]="{'is-invalid': submitted && plForm.controls.endDate.errors}">
                      <div *ngIf="submitted && plForm.controls.endDate.errors" class="invalid-feedback">
                        <div *ngIf="plForm.controls.endDate.errors?.['required']">
                          {{'End Date is required.' | translate}}</div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-xxl-1 col-lg-2 col-sm-6">
                  <div class="mb-3">
                    <div class="form-check form-switch mt-4">
                      <input class="form-check-input" type="checkbox" role="switch" formControlName="isActive" id="10">
                      <label class="form-check-label" for="10">{{'Status' | translate}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <div class="col-sm-12">
              <div class="d-flex gap-2 justify-content-end">
                <a type="button" class="btn btn-outline-secondary" routerLink="/priceList-list">Cancel</a>
                <!-- <a type="button" class="btn btn-primary" (click)="saveForm()">
                  {{ editMode? 'Update' : 'Save'}}
                </a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    @if(isExcelUploaded == true) {
    <div class="row gx-3 mt-3">
      <div class="col-sm-12 col-12">
        <div class="card mb-3">
          <div class="card-body pt-0">
            <div class="custom-tabs-container">
              <ul class="nav nav-tabs" id="customTab3" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="tab-oneAA" data-bs-toggle="tab" href="#oneAA" role="tab"
                    aria-controls="oneAA" aria-selected="true"><i class="ri-shake-hands-line me-2"></i>Validate</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="tab-twoAA" data-bs-toggle="tab" href="#twoAA" role="tab" aria-controls="twoAA" aria-selected="false" tabindex="-1"><i class="ri-service-line me-2"></i>Invalid</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="tab-threeAA" data-bs-toggle="tab" href="#threeAA" role="tab"
                    aria-controls="threeAA" aria-selected="false" tabindex="-1"><i class="ri-emoji-sticker-line me-2"></i>Duplicate</a>
                </li>
              </ul>
              <div class="tab-content pt-1" id="customTabContent3">
                <div class="tab-pane fade active show" id="oneAA" role="tabpanel" aria-labelledby="tab-oneAA">
                  <div class="p-2">
                    <div class="col-12">
                      <div class="row mb-3">
                        <div class="col-5">
                          <label class="form-label filterLabel">{{'Search' | translate}}:</label>
                          <input type="text" class="form-control" placeholder="Search by Description" id="searchd" [(ngModel)]="validterm">
                        </div>
                      </div>
                      <div class="table-outer">
                        <div class="table-responsive">
                          <table class="table truncate m-0">
                            <thead>
                              <tr>
                                <th>{{'SBS Code' | translate}}</th>
                                <th>{{'Service' | translate}}</th>
                                <th>{{'Price' | translate}}</th>
                                <th class="text-center">{{'Discount Per' | translate}}</th>
                                <th>{{'Validation Remarks' | translate}}</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of draftValidItemArr | filter: validterm: 'description'">
                                <td>{{item.sbsCode}}</td>
                                <td>[{{item.code}}] {{item.description}}</td>
                                <td>{{item.price}}</td>
                                <td class="text-center">{{item.discountPct}}%</td>
                                <td>{{item.validationRemarks}}</td>
                              </tr>
                              <tr *ngIf="draftValidItemArr.length == 0">
                                <td colspan="5"> No Data Found</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
              
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="twoAA" role="tabpanel" aria-labelledby="tab-twoAA">
                    <div class="p-2">
                    <div class="col-12">
                      <div class="row mb-3">
                        <div class="col-5">
                          <label class="form-label filterLabel">{{'Search' | translate}}:</label>
                          <input type="text" class="form-control" placeholder="Search by Description" id="searchd" [(ngModel)]="invalidterm">
                        </div>
                      </div>
                      <div class="table-outer">
                        <div class="table-responsive">
                          <table class="table truncate m-0">
                            <thead>
                              <tr>
                                <th>{{'SBS Code' | translate}}</th>
                                <th>{{'Service' | translate}}</th>
                                <th>{{'Price' | translate}}</th>
                                <th class="text-center">{{'Discount Per' | translate}}</th>
                                <th>{{'Validation Remarks' | translate}}</th>
                                <th width="30%">{{'Action' | translate}}</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of draftInValidItemArr | filter: invalidterm: 'description'">
                                <td>{{item.sbsCode}}</td>
                                <td>[{{item.code}}] {{item.description}}</td>
                                <td>{{item.price}}</td>
                                <td class="text-center">{{item.discountPct}}%</td>
                                <td>{{item.validationRemarks}}</td>
                                <td>
                                  <button class="btn btn-outline-primary table-btn" (click)="invalidAction(item)">Add Service</button>
                                </td>
                              </tr>
                              <tr *ngIf="draftInValidItemArr.length == 0">
                                <td colspan="5"> No Data Found</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                  <!-- modal view  -->
                    <div class="modal fade" id="invalidAddSerM" tabindex="-1" aria-labelledby="exampleModalXlLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalXlLabel">
                              {{'Add Service' | translate}}
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            @if(showInvalidSerM) {
                            <div class="col-12">
                              <div class="card">
                                <div class="card-body">
                                  <div class="d-flex flex-wrap">
                                    <div class="p-2"><span class="modalLabel">Service Code:</span> {{invalidSerData.code}}</div>
                                    <div class="p-2"><span class="modalLabel">Service Description:</span> {{invalidSerData.description}}</div>
                                    <div class="p-2"><span class="modalLabel">Price:</span> {{invalidSerData.price}}</div>
                                    <div class="p-2"><span class="modalLabel">Discount:</span> {{invalidSerData.discountPct}} %</div>
                                    <div class="p-2"><span class="modalLabel">SBS Code:</span> {{invalidSerData.sbsCode}}</div>
                          
                                    <div class="p-2">
                                      <span class="modalLabel">isDuplicate: </span>
                                      <span *ngIf="invalidSerData?.isDuplicate == true" class="badge bg-success">{{'Active' | translate}}</span>
                                      <span *ngIf="invalidSerData?.isDuplicate != true" class="badge bg-danger">{{'In Active' | translate}}</span>
                                    </div>
                                    <div class="p-2">
                                      <span class="modalLabel">isValid: </span>
                                      <span *ngIf="invalidSerData?.isValid == true" class="badge bg-success">{{'valid' | translate}}</span>
                                      <span *ngIf="invalidSerData?.isValid != true" class="badge bg-danger">{{'invalid' | translate}}</span>
                                    </div>
                                    <div class="p-2"><span class="modalLabel">Validation Remarks:</span> {{invalidSerData.validationRemarks}} 
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="ng-autocomplete w-100" style="margin-top: 10px;">
                                <ng-autocomplete [data]="serviceData" [searchKeyword]="keyword" (selected)='selectEvent($event)'
                                  (inputChanged)='getServerResponse($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                                  (inputCleared)="searchCleared()" [notFoundTemplate]="notFoundTemplate" [debounceTime]="600"
                                  [isLoading]="isLoadingResult" [minQueryLength]="2" placeholder="Search Contact no.">
                                </ng-autocomplete>
                                <ng-template #itemTemplate let-item>
                                  <a href="javascript:void(0)">
                                    <div class="row">
                                      <div class="col-10">
                                        <span [innerHTML]="item.serviceKey"></span><i></i>
                                      </div>
                                    </div>
                                  </a>
                                </ng-template>
                                <ng-template #notFoundTemplate let-item>
                                  <span class="notfound">
                                    <!-- {{errorMsg}} Data Not Found -->
                                  </span>
                                </ng-template>
                              </div>
                            </div>
                            }
                          
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                              Close
                            </button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="saveInvalid()">
                              Save
                            </button>
                          </div>
                        </div>
                      </div>
                    
                    </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="threeAA" role="tabpanel" aria-labelledby="tab-threeAA">
                     <div class="p-2">
                    <div class="col-12">
                      <div class="row mb-3">
                        <div class="col-5">
                          <label class="form-label filterLabel">{{'Search' | translate}}:</label>
                          <input type="text" class="form-control" placeholder="Search by Description" id="searchd" [(ngModel)]="duplicateterm">
                        </div>
                        
                      </div>
                      <div class="table-outer">
                        <div class="table-responsive">
                          <table class="table truncate m-0">
                            <thead>
                              <tr>
                                <th>{{'SBS Code' | translate}}</th>
                                <th>{{'Service' | translate}}</th>
                                <th>{{'Validation Remarks' | translate}}</th>
                                <th>{{'Action' | translate}}</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of draftDuplicateItemArr | filter: duplicateterm: 'sbsCode'">
                                <td>{{item.sbsCode}}</td>
                                <td>
                                  <div *ngFor="let dupli of duplicateSerArr['SER_' + item.serviceId]">
                                    <div class="">
                                      <input  type="checkbox" id="checkDup_{{dupli.priceListItemsId}}" value="">
                                      <label class="ps-1" for="checkDup_{{dupli.priceListItemsId}}">
                                        [{{dupli.code}}] {{dupli.description}} [{{dupli.price}}] ({{dupli.discountPct}}%)
                                      </label>
                                    </div>
                                  </div>
                                </td>
                                <td>{{item.validationRemarks}}</td>
                                <td>
                                  <button class="btn btn-outline-primary btn-sm" (click)="updateDup(item)">Insert</button>
                                </td>
                              </tr>
                              <tr *ngIf="draftDuplicateItemArr.length == 0">
                                <td colspan="5"> No Data Found</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
              
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
          </div>
        </div>
      </div>
    </div>
    }
   
<!-- <div id="mybutton">
<button class="btn btn-success" (click)="approveDraft()">Approve Draft </button>
</div> -->
  </div>
</div>
