/* You can add global styles to this file, and also import other style files */
 /* @import '~@ng-select/ng-select/themes/default.theme.css'; */
/* Chrome, Safari, Edge, Opera */
.noArrowNum::-webkit-outer-spin-button,
.noArrowNum::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.noArrowNum {
  -moz-appearance: textfield;
}

.modalLabel {
    font-weight: 500;
}



.cursorPoint{
    cursor: pointer;
}

.table-btn {
    padding: 2px 6px !important;
    margin: 0 5px !important;
    margin-top: 2px !important;
}
.filterLabel {
    color: #31373d;
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 0.8rem;
}

.icon-box.mid-sm {
    width: 2.5rem;
    height: 2.5rem;
    padding-right: 2px;
}